<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="WpfLoggingApp"/>
  </extensions>

  <targets>
    <!-- File Target -->
    <target name="logfile" 
            xsi:type="File" 
            fileName="${basedir}/logs/logfile_${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
    
    <!-- WPF UI Target -->
    <target name="wpf" 
            xsi:type="WpfTarget"
            layout="${time} | ${level:uppercase=true} | ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="wpf" />
  </rules>
</nlog>
